.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 85vh;
}
.form button {
  margin: 2vw;
  height: 6vh;
  width: 10vw;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: transparent
    linear-gradient(270deg, #a2d2ff 0%, #cdb4db 100%, #516980 100%) 0% 0%
    no-repeat padding-box;
}
.form button:hover {
  box-shadow: black 1px 1px 6px;
}
.element {
  margin: 3.7vh 1vh;
  height: 7vh;
  width: 19vw;
}
.element label {
  display: block;
  font-family: Roboto;
  font-size: 17px;
  margin-bottom: 7px;
}
.element input {
  border: none;
  width: 100%;
  height: 3.3vh;
  padding: 8px;
}
.element span {
  color: red;
}
.form a {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
