.nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 5vw;
  background: transparent
    linear-gradient(270deg, #a2d2ff 0%, #cdb4db 100%, #516980 100%) 0% 0%
    no-repeat padding-box;
}
.nav div {
  margin-top: 10vh;
  height: 7vh;
  cursor: pointer;
}
